<form action = "/payment/results">
  <div>
    <label for = "apr_box">APR</label>
     <input id = "apr_box" type = "text" placeholder = "E.g. 5.42" name = "apr">
  </div>

  <div>
    <label for = "years_box">Number of years</label>
     <input id = "years_box" type = "text" placeholder = "How many years to repay?" name = "years">
  </div>

  <div>
    <label for = "principal_box">Principal</label>
      <input id = "principal_box" type = "text" placeholder = "How much principal?" name = "principal">
  </div>

  <div>
    <button>Calculate monthly payment</button>
  </div>

</form>