<form action = "/random/results">
  <div>
  <label for = "min_box">Minimum</label>
    <input id = "min_box" type = "text" placeholder = "E.g. 1.5" name ="min_val">
  </div>

  <div>
  <label for = "max_box">Maximum</label>
    <input id = "max_box" type = "text" placeholder = "E.g. 4.5" name ="max_val">
  </div>

  <div>
    <button>Pick random number</button>
  </div>

</form>