<form action = "/square_root/results">

  <div>
    <label for = "root_box">Enter a number</label>
      <input id = "root_box" type = "text" 
        placeholder = "What number do you want to take the square root of?" name = "value">
  </div>

  <div>
    <button>Calculate square root</button>
  </div>

</form>