<form action ="/square/results">
  <label for="input_box">Enter a number</label>
  <input id = "input_box" type = "text" 
    placeholder = "What number do you want to square" name ="value">

  <div>
    <button>Calculate square</button>
  </div>
</form>